—Ç–µ–∫—Å—Ç –∏–∑ –ø–∞—á–∫–∏:
Ma—Ä–∏—è –í–æ—Ä–æ–±—å—ë–≤–∞ [–ù–∞—Å—Ç–∞–≤–Ω–∏–∫ DS]
11:13
–í—Å–µ–º –ø—Ä–∏–≤–µ—Ç! 
–ù–∞ –∫–æ–Ω—Å—É–ª—å—Ç–∞—Ü–∏–∏ –æ–±–µ—â–∞–ª–∞ –≤–∞–º, —á—Ç–æ –±—É–¥—É –¥–∞–≤–∞—Ç—å –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–µ –∑–∞–¥–∞—á–∫–∏ –ø–æ –ø–∏—Ç–æ–Ω—É. 

–°–µ–≥–æ–¥–Ω—è –ø–µ—Ä–≤–∞—è –∑–∞–¥–∞—á–∞. 
–í–∞–º –±—É–¥–µ—Ç –¥–∞–Ω json —Ñ–∞–π–ª, –µ–≥–æ –Ω–∞–¥–æ –∑–∞–≥—Ä—É–∑–∏—Ç—å –∏ –ø–æ–Ω—è—Ç—å –≤ –∫–∞–∫—É—é —Å—Ç—Ä—É–∫—Ç—É—Ä—É –¥–∞–Ω–Ω—ã—Ö –ø–∏—Ç–æ–Ω–∞ –æ–Ω –ø—Ä–µ–≤—Ä–∞—â–∞–µ—Ç—Å—è. –ü–æ—Å–ª–µ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –±—É–¥–µ—Ç –Ω–∞–ø–µ—á–∞—Ç–∞—Ç—å —Ç–æ–ª—å–∫–æ —Ç–µ —Å—Ç—Ä–∞–Ω—ã, –∫–æ—Ç–æ—Ä—ã–µ —Å–æ–¥–µ—Ä–∂–∞—Ç –±—É–∫–≤—É A. 
–≤—Å–µ–º —É–¥–∞—á–∏! üòÄ
countries.json
9.5 –ö–ë
#–ò–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º —Ñ–∞–π–ª json —á–µ—Ä–µ–∑ –±–∏–±–ª–∏–æ—Ç–µ–∫—É pandas

In [1]:
import pandas as pd
countries_json = pd.read_json('countries.json')
countries_json.head()

             name code
0     Afghanistan   AF
1    land Islands   AX
2         Albania   AL
3         Algeria   DZ
4  American Samoa   AS

In [3]:
type(countries_json) # –¥–ª—è —Ç–æ–≥–æ, —á—Ç–æ–±—ã –ø–æ–Ω—è—Ç—å –≤ –∫–∞–∫—É—é —Å—Ç—Ä—É–∫—Ç—É—Ä—É –¥–∞–Ω–Ω—ã—Ö –ø–∏—Ç–æ–Ω–∞ –ø—Ä–µ–≤—Ä–∞—â–∞–µ—Ç—Å—è —Ñ–∞–π–ª, —è –ø—Ä–∏–º–µ–Ω–∏–ª –∫–æ–º–∞–Ω–¥—É type(). 
# –û—Ç–≤–µ—Ç - –≤ DataFrame
# –¢–∞–∫–∂–µ –º–æ–∂–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –∫–æ–º–∞–Ω–¥—É info:
countries_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    244 non-null    object
 1   code    244 non-null    object
dtypes: object(2)
memory usage: 3.9+ KB

In [39]:
if 'a' in str(countries_json['name']): # –∏—â–µ–º –≤ –∫–æ–ª–æ–Ω–∫–µ 'name' –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ countries_json –±—É–≤–∫—É '–∞'
    print(countries_json['name']) # –≤—ã–≤–æ–¥–∏–º –Ω–∞ —ç–∫—Ä–∞–Ω –∑–Ω–∞—á–µ–Ω–∏–µ –∏–∑ –∫–æ–ª–æ–Ω–∫–∏ 'name –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ countries_json, –≤ –∫–æ—Ç–æ—Ä–æ–º –µ—Å—Ç—å –±—É–∫–≤–∞ 'a'
else: 
    print('–ù–µ—Ç —Å—Ç—Ä–∞–Ω, –≤ –Ω–∞–∑–≤–∞–Ω–∏–∏ –∫–æ—Ç–æ—Ä—ã—Ö –µ—Å—Ç—å –±—É–∫–≤–∞ –ê') # –µ—Å–ª–∏ —Ç–∞–∫–æ–≤—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –Ω–µ—Ç, —Ç–æ –≤—ã–≤–æ–¥–∏–º —Å–æ–æ–±—â–µ–Ω–∏–µ –Ω–∞ –∂–∫—Ä–∞–Ω

0            Afghanistan
1           land Islands
2                Albania
3                Algeria
4         American Samoa
             ...
239    Wallis and Futuna
240       Western Sahara
241                Yemen
242               Zambia
243             Zimbabwe
Name: name, Length: 244, dtype: object